.site-header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    background-color: black;
  }

.site-main-body {    
  margin: 3rem auto 0 auto;    
  width: 70%;
  /* border: 1px solid red; */
}

.show-panel {
  margin: 1rem 0 1rem 0;
  
}

.panel-text {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  color: white;
}

.panel-text-descr {
  font-size: 0.75rem;
  color: grey;
}

.generic-chip {
  margin: 0 0.5rem 0 0rem;
}

.landing-img {
  width: 100%;
  max-width: 50rem;
}